.fillable {
	width: 5rem;
	height: 5rem;
	border: 1px gray solid;
	text-align: center;
	font-size: 3rem;
}

.unfillable {
	width: 5rem;
	height: 5rem;
	border: 1px gray solid;
	background-color: black;
}

.active {
	composes: fillable;
	background-color: rgba(255, 255, 0, 0.4);
}
