.square {
	position: relative;
	width: 5rem;
	height: 5rem;
	border-width: 1px;
}

.number {
	position: absolute;
	top: 0.2rem;
	left: 0.2rem;
	font-size: 0.8rem;
	z-index: 1;
}

.fillable {
	composes: square;
	text-align: center;
	font-size: 3rem;
}

.highlighted {
	composes: fillable;
	background-color: rgba(14, 111, 248, 0.4);
}

.unfillable {
	composes: square;
	background-color: black;
}

.active {
	composes: fillable;
	background-color: rgba(255, 255, 0, 0.4);
}

.input {
	width: inherit;
	height: inherit;
	padding: 1px;
	border-width: 1px;
}
