.app {
	padding: 2rem 5rem;
	display: flex;
	flex-direction: column;
}

.timer-and-options {
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
}

.timer {
	padding-left: 5rem;
}

.board-and-clues {
	display: flex;
	justify-content: space-evenly;
	align-items: baseline;
}
